.blog-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: none;
}

.blog-container li {
    list-style: none;
}


.blog-box {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: "title-area content-area";
    gap: 10px;
}
.blog-container #title-box {
    grid-area: title-area;
}
.blog-container #content-box {
    grid-area: content-area;
}

#title-box ul {
    margin: 0;
    padding: 0;
}

#title-box li {
    display: list-item;
    margin: 5px;
}
#title-box a {
    display: block;
    box-sizing: inherit;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none; 
    color:black;
    font-weight: bold
}
#title-box a:hover{
    background-color: rgb(235, 242, 242);
    color: rgb(0, 102, 204);
}
#title-box .active {
    background-color: black!important;
    color: white !important;
}
@media screen and (max-width: 1110px) {
    .blog-box {
        grid-template-columns: 1fr;
        grid-template-areas: "content-area";
    }
    .blog-container #title-box {
        display: none;
    }
}
