.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-areas:
    "weather calendar"
    "another calendar"
    "post post";
}

@media screen and (max-width: 455px) {
    .home-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "calendar"
        "weather"
        "another"
        "post";
    }
}

.weather-box {
    grid-area: weather;
    background-image: url('https://cdn.pixabay.com/photo/2018/02/08/02/06/background-3138516__480.jpg');
    background-position: center;
}

.calendar-box {
    grid-area: calendar;
    padding: 2px !important;
}

.another-box {
    grid-area: another;
    background-image: url('https://cdn.pixabay.com/photo/2017/07/27/23/00/background-2547097__480.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recent-post-box {
    grid-area: post;

}

.home-box {
    background-color: rgb(127, 212, 255);
    border-radius: 10px;
    padding: 10px;
}

.carousel-box {
    grid-area: carousel;
    min-width: 370px;
}