.enter-wrap {
  background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHRpbmd8ZW58MHx8MHx8&w=1000&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.enter-wrap h2 {
  color: white;
}
.enter-wrap footer {
  position: absolute;
  bottom: 1%;
  left:50%;
  color: white;
  transform: translate(-50%, -50%);
}
.mainbody {
  height: 400px;
  width: 350px;
}
 
.middle {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
 
.form-box {
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(7, 21, 32, 0.5);
  border-radius: 10px;
}
 
.input-normal {
  width: 220px;
  height: 38px;
  margin: 30px auto;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  outline: none;
  display: block;
  transition: 0.3s;
  border: 1px solid #e6e6e6;
}
 
.btn-submit {
  cursor: pointer;
  width: 220px;
  height: 36px;
  margin: auto;
  font-size: 18px;
  text-align: center;
  color: white;
  border-radius: 10px;
  border-width: 0;
  display: block;
  background: darkslategrey;
  transition: 0.3s;
}
 
.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}
 
.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  transition: 0.5s linear;
  text-align: center;
}
 
.middle-flip .front {
  transform: rotateY(180deg);
}

.middle-flip .back {
  transform: rotateY(0deg);
}
 

p {
  margin: 15px auto;
  padding: 0;
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
}
a {
  color: aqua;
  cursor: pointer;
}
