.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2019/04/26/13/28/ornaments-4157521__480.jpg');
    background-size: cover;
}

.login-container .form-box {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}