.blog-container {
    display: flex;
    flex-direction: column;
    border: none;
}

.blog-container li {
    list-style: none;
}


.blog-box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "title-area content-area"
        "comment comment";
    gap: 10px;
}
.blog-container #title-box {
    grid-area: title-area;
    background-color: #f1ebe6;
}
.blog-container #content-box {
    padding: 20px;
    grid-area: content-area;
    background-color: #f1ebe6;
}

#title-box ul {
    margin: 0;
    padding: 0;
}

#title-box li {
    display: list-item;
    margin-top: 10px;
}
#title-box a {
    display: block;
    box-sizing: inherit;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none; 
    color:black;
    font-weight: bold
}
#title-box a:hover{
    background-color: rgb(235, 242, 242);
    color: rgb(0, 102, 204);
}
#title-box .active {
    /*background-color: black!important;*/
    /*color: white !important;*/
    background-color: rgb(235, 242, 242)!important;
    color: rgb(0, 102, 204)!important;
}

.comment-box {
    grid-area: comment;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
}
@media screen and (max-width: 1195px) {
    .blog-box {
        display: block;
    }
    .blog-container #title-box {
        display: none;
    }
    .pagination {
        display: block !important;
    }
}

.pagination {
    text-align: center;
    display: none;
}
