.blog-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: none;
}
.title-box {
    padding: 20px;
    background-color: rgb(182, 214, 214);
    border-radius: 10px;
}

.title-box input {
    width: 100%;
    outline: none;
}

.content-box {
    padding: 20px;
    background-color: rgb(174, 191, 206);
    margin-bottom: 5px;
    border-radius: 10px;
}

.content-box textarea {
    width: 100%;
    height: 500px;
    outline: none;
}

.btn-group button {
    height: 30px;
    color: white;
    border-radius: 5px;
    background-color: #0b5ed8;
    border: none;
    cursor: pointer;
    margin: 3px;
}

.g-progress {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: conic-gradient(#FFCDB2 0, #FFCDB2 25%, #B5838D 25%, #B5838D);
    mask: radial-gradient(transparent, transparent 60%, #000 60%, #000 0);

    transition-duration: 1s;
    transition-delay: 5s;
    transition-timing-function: ease

}

.g-progress:hover{
    background: conic-gradient(#FFCDB2 0, #FFCDB2 100%, #B5838D 0%, #B5838D);
}