.personal-chatroom-container {
    width: 100%;
    height: 100%;
}

.personal-chat-room-box {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
}
.personal-chat-input-box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.personal-chatroom-container li{
    list-style: none;
    padding: 10px;
}
.personal-chat-block {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.personal-chat-block-right {
    justify-content: right;
}

.personal-chat-block-left {
    justify-content: left;
}
.personal-chat-content-box {
    background-color: #61dafb;
    max-width: 80%;
    text-align: left;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
}

.personal-chat-left {
    border-radius: 5px 5px 5px 0;
}

.personal-chat-right {
    border-radius: 5px 5px 0 5px;
}