
.container {
    margin: auto;
    width: 60vw;
    position: relative;
}

@media screen and (max-width: 805px){
    .container {
        width: 100%;
    }
    nav{
        display: none;
    }

    .nav-bar {
        height: 53.33px
    }

    .fill-up {
        display: none;
    }
    .container {
        margin: 0px;
        padding: 0px;
    }

    .hamburger {
        display: flex !important;
    }
}


@media screen and (min-width: 620px) {
    .hidden-bars {
        display: none;
    }
}


.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 10px;

}

.nav-bar .fill-up {
    flex: 1;
}

.nav-bar .button-box button {
    cursor: pointer;
    color: white;
    border-radius: 15px;
    background-color: #0b5ed8;
    border: none;
    width: 60px;
    height: 30px;
}

.nav-bar .button-box button:hover {
    background-color: rgb(21, 64, 204);
}
.nav-bar ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    list-style: none;
}

.nav-bar ul a {
    text-decoration: none;
    padding: 3px 10px;
    color: white;
    border-radius: 10px;
}

.nav-bar ul li a:hover{
    background-color: rgb(153, 196, 196);
    color: black;
}

.nav-bar ul .active {
    color: black;
    background-color: white !important;
}

.nav-bar .button-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.nav-bar .avatar-box {
    cursor: pointer;
}

.nav-bar .hamburger {
    display: none;
    position: absolute;
    top: 24px;
    right: 35px;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}



.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::after {
    content: "";
    display: block;
    bottom: -8px;
}

.hamburger-inner::before {
    content: "";
    display: block;
    top: -8px;
}

.ham-box .active .hamburger-inner{
    background-color: black;
}
.ham-box .active .hamburger-inner::before{
    transform: rotate(45deg);
    top: 0;
}
.ham-box .active .hamburger-inner::after{
    transform: rotate(-45deg);
    bottom: 0;
}

.hidden-bars-box .hidden-bars{
    display: none;
}

.hidden-bars-box .active{
    position: absolute;
    top: 56px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 10px;
    height: 100px;
    z-index: 99;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden-bars-box .active a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 300;
}


.container footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    background-color: #0b5ed8;
    border-radius: 10px;
}

.container footer div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.container footer p {
    margin: 0!important;
    color: white;
    font-size: small;
    font-weight: bolder;
}

.container footer .website-icon {
    cursor: pointer;
    font-size: larger;
    color: white
}

.container footer .website-icon:hover {
    color: black
}
@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}
#id {
    animation: fadein 2s;
}