.panel-container {
    width: 130px;
    background-color: #2b2b2b;
    position: absolute;
    top: 53px;
    right: 0px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    z-index: 999;
}

.panel-container ul{
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}

.panel-container ul li a{
    display: flex;
    gap: 10px;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    height: 35px;
    align-items: center;
}

.panel-container ul li a:hover{
    background-color: #bdc4c9;
    color: black;
}

@media screen and (max-width: 805px){
    .panel-container {
        left: 0;
    }
}

